* {
    margin: 0px;
    padding: 0px;
    box-shadow: border-box;
}

.center-short-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.short-line {
    width: 60%;
}

.short-short-line {
    width: 40%;
    height: 2px;
}

/* side nav bar start============ */

.main-section {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    /* position: fixed; */
    flex: 1 1 0;
    max-width: 250px;
    padding: 30px 30px;
    background-color: #4478bf;
}

.sidebar h2 {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 55px;
}

.navbar {
    margin: 0px -10px;
}

.navbar a {
    text-decoration: none;
    display: block;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    padding: 6px 10px;
    margin: 15px 10px;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
}

.navbar a:hover {
    color: #4478bf;
    transition: 1s ease;
    background-color: #fff;
}

.content {
    flex: 1 1 0;
    padding: 50px;
}

.content h1 {
    color: #222;
    font-size: 40px;
    margin-bottom: 12px;
}

.content p {
    color: #3c3c3c;
    font-size: 17px;
    line-height: 1.5;
}

.toggle {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    background-color: #222;
    cursor: pointer;   
}

.hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 20px;
    background-color: #fff;
    transition-duration: 0.25s;
}

.hamburger > span::before {
    content: "";
    top: 9px;
}

.hamburger > span::after {
    content: "";
    top: -9px;
}

.toggle.active .hamburger > span {
    transform: rotate(45deg);
}

.toggle.active .hamburger > span::before {
    top: 0;
    transform: rotate(0deg);
}

.toggle.active .hamburger > span::after {
    top: 0;
    transform: rotate(90deg);
}

@media screen and (max-width: 1024px) {
    .toggle {
        max-width: 250px;
    }
}

@media screen and (max-width: 768px) {
    .toggle {
        display: block;
    }
    .content {
        padding-top: 130px;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: -350px;
        height: 100vh;
        width: 100%;
        max-width: 250px;
        transition: 0.4s ease;
    }
    .sidebar.active {
        left: 0;
    }
}



/* side nav bar end============ */

/* header start================ */

.logo {
    margin: 10px;
}

.header-col-left {
    min-width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header end=================== */

/* section start=================== */

.my-h2 {
    font-size: 20px;
}

.my-h3 {
    font-size: 18px;
}

.center-my-h2 {
    text-align: center;
}

.center-my-h3 {
    text-align: center;
}


/* section end=================== */