.center-short-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.short-line {
    width: 60%;
}

.short-short-line {
    width: 40%;
    height: 2px;
}

/* header start================ */

.logo {
    margin: 10px;
}

.header-col-left {
    min-width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header end=================== */

/* section start=================== */

.my-h2 {
    font-size: 20px;
}

.my-h3 {
    font-size: 18px;
}

.center-my-h2 {
    text-align: center;
}

/* section end=================== */